Real-time-chat-application-in-c/
.vscode/
Broadcast/bcast_sender
Broadcast/bcast_receiver
GKI/server
GKIV2
resolver
*.o
client
server
LeDinhTuyen_20194715_HW1.zip
LeDinhTuyen_20194715_HW2.zip
LeDinhTuyen_20194715_HW3.zip
LeDinhTuyen_20194715_HW4.zip
LeDinhTuyen_20194715_HW5.zip
20194715_LeDinhTuyen_HW6.zip
LeDinhTuyen_20194715_HW7.zip
LeDinhTuyen_20194715_HW8.zip
Makefile1
Homework6/client.c
Homework6/server.c
mcast_recv
mcast_send
